@model IEnumerable<PracticaReto.Models.Empleado>
<h2>ListaEmpleados</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdEmpleado }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdEmpleado }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEmpleado })
            </td>
        </tr>
    }
</table>
